<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">  
<suite name="Test Project">  
<listeners>
<listener class-name="com.TestP.qa.ExtentReportListener.extentReportListener">
</listener>
</listeners>
  <test name="test test">  
    <classes>  
     <class name="com.TestP.qa.Testcases.filters"></class>
      <class name="com.TestP.qa.Testcases.ListOfCompanyAndProfiles"></class>  
      
    </classes>  
  </test> <!-- Test -->  
</suite> <!-- Suite -->  